---
import { useSanityClient } from "astro-sanity";
import { urlForImage } from "../../sanity/urlForImage";

export async function allPosts() {
  const client = useSanityClient();
  const query = `*[_type=="post"] | order(_createdAt desc)[0..3]{...,author->{...}}{...,category->{...}} `;
  const posts = await client.fetch(query);
  return posts;
}

export async function getStaticPaths() {
  const allBlogPosts = await allPosts();

  return allBlogPosts.map((post: any) => ({
    params: { slug: post.slug.current },
    props: { post },
  }));
}

const posts = await allPosts();
---

{
  posts.map((post: any) => (
    <ul class=" w-full ">
      <li class="flex w-full ">
        <div class=" flex flex-wrap mr-4 ml-4 xl:mr-8 xl:ml-8">
          <div class="flex flex-col w-3/4 ">
            <a
              href={`/posts/${post.slug.current}`}
              class="font-mono text-gray-400 font-thin  text-xs hover:underline"
            >
              {post.authorname}
            </a>
            <a
              href={`/articles/posts/${post.slug.current}`}
              class="font-sans lead text-white pb-2 font-extrabold text-md hover:underline"
            >
              {post.title}
            </a>
          </div>
          <img
            src={urlForImage(post.mainImage).url()}
            class="w-1/4  pl-2 object-cover"
            alt="main-image"
          />
        </div>
      </li>
    </ul>
  ))
}
<style>
  .spacer {
    height: 100%;
    width: 10px;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    z-index: 5;
  }
  .lead {
    line-height: 1.2em;
  }
</style>
