---
import { Image } from 'astro:assets'
import { getSanityImageURL } from '../../lib/helpers.js'

const { block } = Astro.props
---

<div class="w-full h-auto bg-black pt-20 lg:pt-8">
  {
    block?._type === 'headingBlock' && (
      <div class="">
        <div class="w-full flex justify-center flex-cols">
          <div class="md:w-3/4 lg:w-1/2 w-4/5">
            {block.heading && (
              <h1 class="text-4xl text-gray-200 lg:text-5xl mb-4 w-auto lg:w-full scramble-title">
                {block.heading}
              </h1>
            )}
            {block.subheading && (
              <p class="w-full text-lg text-gray-200 leading-6 mb-4 tracking-wide scramble-title">
                {block.subheading}
              </p>
            )}
          </div>
        </div>
        <div class="w-full flex justify-center flex-cols">
          <div class="flex w-11/12 items-center border border-gray-600 mb-2 ">
            {block.team && block.team.image && (
              <a
                href={`/team/${block.team.slug.current}`}
                class="flex items-center w-full h-8"
              >
                <Image
                  src={getSanityImageURL(block.team.image).url()}
                  alt="Author Image"
                  width={10}
                  height={10}
                  format="webp"
                  class="w-5 h-5 object-cover ml-2 rounded-full"
                />
                {block.team.name && (
                  <p class="ml-2 uppercase text-gray-600 font-bold font-mono text-xs">
                    By {block.team.name}
                  </p>
                )}
              </a>
            )}

            {block.tags && block.tags.length > 0 && (
              <div class="flex flex-row ml-4 items-center">
                {block.tags.map((tag: string) => (
                  <a class="text-xs h-6 flex font-semibold bg-gray-600/60 items-center justify-center p-2 border border-gray-600 uppercase tracking-wide text-gray-200 mr-1">
                    {tag}
                  </a>
                ))}
              </div>
            )}
          </div>
        </div>
        {block.image && (
          <div class="w-full flex justify-center">
            {console.log('block.image:', block.image)}
            <Image
              src={getSanityImageURL(block.image).url()}
              alt={block.image.alt || 'Image Alt Text'}
              width={1000}
              height={1000}
              format="webp"
              class="w-full md:w-11/12 h-[325px] md:h-[500px] lg:h-[700px] object-cover mb-12 border border-gray-600"
            />
          </div>
        )}
      </div>
    )
  }
</div>

<style>
  h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    animation: fadeIn 2s ease-out;
  }
  h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    animation: fadeIn 1s ease-out;
  }
  .rajhani {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
