---
import '@fontsource/rajdhani/400.css'
import '@fontsource/rajdhani/700.css'
import { Image } from 'astro:assets'
import { getSanityImageURL } from '../../utils/helpers.js'

const { posts } = Astro.props
---

<div class="w-full lg:w-1/4">
  <ul class="w-full h-auto grid grid-cols-1 gap-2 p-2 flex-wrap">
    {
      posts &&
        posts.map((post: any) => (
          <a href={`/posts/${post.slug?.current}`}>
            <div class="flex flex-wrap text-white p-2 w-full border-b-2 mb-2 border-gray-400/20 ">
              {post?.image && (
                <Image
                  src={getSanityImageURL(post?.image).url()}
                  alt="this"
                  width={1000}
                  height={1000}
                  format="webp"
                  class="w-full h-48  object-cover"
                />
              )}

              <div class="w-full mb-2">
                <div class="flex p-2">
                  {post.tags &&
                    post.tags.map((tag: string) => (
                      <p class="lg:text-md break-words rounded-full border border-gray-600 pt-1 pb-1 pl-3 pr-3 font-mono text-sm font-normal uppercase tracking-wide text-gray-400 mr-2">
                        {tag}
                      </p>
                    ))}
                </div>
                <h2 class="p-2 text-2xl uppercase leading-none text-white scramble-title">
                  {post.title}
                </h2>
                <p class="p-2 excerpt-clamp text-lg mb-4 text-gray-400 ">
                  {post.excerpt}
                </p>
              </div>
            </div>
          </a>
        ))
    }
  </ul>
</div>

<style>
  h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
  }
  .excerpt-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 4em;
  }
</style>
