---
import '@fontsource/rajdhani/400.css';
import '@fontsource/rajdhani/700.css';
import { Image } from 'astro:assets';
import { getSanityImageURL } from '../../lib/helpers.js';

const { videos } = Astro.props;
---

<div class="w-full">
   <span class="text-black p-2 text-md uppercase mono">Recent Videos</span>
   <ul class="flex flex-row overflow-x-auto w-full gap-2 p-0">
      {
         videos &&
            videos.map((video: any) => (
               <li class="shrink-0 w-11/12 sm:w-1/2 md:w-1/3 lg:w-96">
                  <a href={`/videos/${video.slug?.current}`} class="block text-black">
                     <div class="flex flex-col p-2 mb-4 transition duration-300 ease-in-out transform hover:scale-105">
                        <div class="w-full h-48 lg:h-56 rounded-lg shadow-lg overflow-hidden relative">
                           {video?.image && <Image src={getSanityImageURL(video?.image).url()} alt={video.title} width={1000} height={1000} format="webp" class="w-full h-full object-cover" />}
                           <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-70" />
                           <div class="absolute right-2 bottom-2">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-white">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-5.504 3.616V7.552l5.504 3.616z" />
                              </svg>
                           </div>
                        </div>
                        <div class="flex flex-wrap justify-start items-center mt-2">
                           {video.subcategories?.map((sub: { title: string }) => (
                              <span class="bg-black text-white text-xs px-2 py-1 rounded-full mr-2 mb-2 uppercase mono tracking-wide leading-tight">{sub.title}</span>
                           ))}
                        </div>
                        <h2 class="text-2xl uppercase leading-none scramble-title hover:text-gray-700">{video.title}</h2>
                     </div>
                  </a>
               </li>
            ))
      }
   </ul>
</div>

<style>
   h1,
   h2,
   .mono {
      font-family: 'Rajdhani', sans-serif;
   }
   h1 {
      font-weight: 400;
   }
   h2 {
      font-weight: 700;
   }
   .mono {
      font-weight: 400;
   }
   .scramble-title:hover {
      text-decoration: underline;
   }
   /* Custom scrollbar styles */
   ::-webkit-scrollbar {
      height: 4px;
   }
   ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 2px;
   }
   ::-webkit-scrollbar-thumb:hover {
      background: #555;
   }
</style>
