---
import { urlForImage } from "../../../sanity/urlForImage.js";
import PortableText from "../../../components/PortableText.astro";
import NavMain from "../../../components/navigation/NavMain.astro";
import { useSanityClient } from "astro-sanity";

export async function allPosts() {
  const client = useSanityClient();
  const query = `*[_type=="post"] | order(_createdAt desc)[0..4]{...,author->{...}}{...,category->{...}} `;
  const posts = await client.fetch(query);
  return posts;
}

export async function getStaticPaths() {
  const allBlogPosts = await allPosts();

  return allBlogPosts.map((post: any) => ({
    params: { slug: post.slug.current },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{post.title}</title>
</head>

<main class="bg-black">
  <NavMain />

  <div class="flex w-full h-screen absolute z-0 shadow-xl">
    <img
      src={urlForImage(post.mainImage).url()}
      class="main-img w-full blur-xl opacity-50"
      alt="main-img"
    />
  </div>

  <div
    id="article-heading"
    class="flex flex-col w-full pt-24 xl:pt-40 items-center z-10"
  >
    <div class="flex flex-col w-11/12">
      <div class="flex w-auto my-2">
        {
          post.category && post.category.name && (
            <p class="text-black text-xs lg:text-sm bg-white font-mono p-2">
              {post.category.name}
            </p>
          )
        }
      </div>
      <div class="a">
        <h1
          class="text-white text-3xl md:text-6xl xl:text-9xl font-poppins font-bold"
        >
          {post.title}
        </h1>
        <h2
          class="mt-4 text-md leading-normal xl:text-xl xl:mt-12 text-white font-poppins w-full lg:w-2/3"
        >
          {post.summary}
        </h2>
      </div>

      <div class="flex w-full">
        <a
          href={`/authors/${post.author.slug.current}`}
          class="flex flex-row w-full items-center my-4 lg:my-8"
        >
          {
            post.author && post.author.image && (
              <img
                class="w-8 h-8 rounded-full mr-2"
                src={urlForImage(post.author.image).url()}
                alt={post.author.name}
              />
            )
          }
          <p class="text-xs lg:text-sm text-white font-mono uppercase">
            {post.author.name}
          </p>
        </a>
      </div>
    </div>
  </div>

  <div class="flex justify-center w-full h-auto overflow-hidden z-10">
    <iframe
      src={post.iframedesktop}
      frameborder="0"
      class="scene hidden md:block md:w-11/12 m-0"
      title="scene"
    >
    </iframe>
    <iframe
      src={post.iframemobile}
      frameborder="0"
      class="w-full h-80 m-0 md:hidden"
      title="scene"></iframe>
  </div>

  <div class="flex flex-col items-center my-12 z-10">
    <div
      class="w-11/12 xl:w-1/3 font-poppins text-xl text-justify text-white leading-relaxed"
    >
      <PortableText class="port" portableText={post.body} />
    </div>
  </div>

  <div class="flex w-full flex-col items-center mb-40 z-10">
    <div class="flex flex-row w-11/12 xl:w-1/2 h-auto bg-gray text-white">
      <a href={`/authors/${post.author.slug.current}`} class="flex w-full">
        <div class="flex w-auto p-2">
          {
            post.author && post.author.image && (
              <img
                class="
          w-24
          h-24
          object-contain"
                src={urlForImage(post.author.image).url()}
                alt={post.author.name}
              />
            )
          }
        </div>
        <div class="flex flex-col w-full p-4">
          <p class="text-xl text-white font-mono font-bold uppercase">
            {post.author.name}
          </p>
          <p class="text-sm text-gray-400 my-2">{post.author.role}</p>
          <p class="text-sm text-white mb-2 leading-relaxed">
            {post.author.bio}
          </p>
        </div>
      </a>
    </div>
  </div>
</main>

<style>
  :root {
    background-color: black;
    margin: 0;
  }
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1em;
  }
  main {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-img {
    height: 100vh;
  }
  @media (max-width: 1280px) {
    .main-img {
      height: 66vh;
    }
  }

  .scene {
    height: 90vh;
  }
</style>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
</style>
