---
import '@fontsource/rajdhani/400.css'
import '@fontsource/rajdhani/700.css'
import '@fontsource/orbitron'
import '@fontsource/noto-sans/400.css'
import '@fontsource/noto-sans/500.css'
import '@fontsource/noto-sans/700.css'
import { Image } from 'astro:assets'
import { getSanityImageURL } from '../utils/helpers.js'
import HeadingBlockDark from './blog/HeadingBlockDark.astro'
import HeadingBlockLight from './blog/HeadingBlockLight.astro'
import { SidebarWrapper } from './blog/Sidebar.jsx'
import TeamBlock from './blog/TeamBlock.astro'
import LinkedPosts from './LinkedPosts.astro'
import PortableTextComponent from './portabletext/PortableTextComponent.jsx'

export interface Props {
  post: any
}

const { post } = Astro.props

const h2Headings = Array.isArray(post?.block)
  ? post.block.flatMap((contentBlock: any) =>
      contentBlock?.content
        ? contentBlock.content
            .filter(
              (block: any) => block._type === 'block' && block.style === 'h2',
            )
            .map((block: any) => block.children[0]?.text)
        : [],
    )
  : []
---

{/* HEADING BLOCK */}
{
  post?.block?.map((block: any) => (
    <>
      {block._type === 'headingBlock' &&
        (block.layout === 'dark' ? (
          <HeadingBlockDark block={block} />
        ) : block.layout === 'light' ? (
          <HeadingBlockLight block={block} />
        ) : null)}
    </>
  ))
}

{
  /* SIDEBAR 
<div class="flex absolute p-8 h-full w-1/4">
  <div class="relative w-auto h-full">
    <SidebarWrapper h2Headings={h2Headings} />
  </div>
</div> 
*/
}

{/* CONTENT BLOCK */}
{
  post?.block?.map(
    (contentBlock: any, index: number) =>
      contentBlock?.content &&
      (contentBlock.layout === 'dark' ? (
        <PortableTextComponent content={contentBlock.content} template="blog" />
      ) : contentBlock.layout === 'light' ? (
        <div class="w-full h-auto bg-gray-200 pt-8 lg:pt-24">
          <PortableTextComponent
            content={contentBlock.content}
            template="light"
          />
        </div>
      ) : null),
  )
}

{/* TEAM BLOCK */}
{
  post?.block?.map((block: any) => (
    <div>{block._type === 'teamBlock' && <TeamBlock block={block} />}</div>
  ))
}

{/* RELATED POSTS */}
<LinkedPosts linkedContent={post?.linkedContent} />

<style>
  h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    animation: fadeIn 2s ease-out;
  }
  h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    animation: fadeIn 1s ease-out;
  }
  .rajhani {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script>
  import TextScrambler from './effects/TextScrambler'

  function scrambleText() {
    const scrambled = document.querySelectorAll('.scramble')

    scrambled.forEach((word) => {
      const scrambler = new TextScrambler(word)
      scrambler.setText(word.textContent)
    })
  }

  document.addEventListener('DOMContentLoaded', scrambleText)
</script>
