---
import '@fontsource/rajdhani/400.css'
import '@fontsource/rajdhani/700.css'
import '@fontsource/orbitron'
import '@fontsource/noto-sans/400.css'
import '@fontsource/noto-sans/500.css'
import '@fontsource/noto-sans/700.css'
import { Image } from 'astro:assets'
import { getSanityImageURL } from '../utils/helpers.js'
import { SidebarWrapper } from './blog/Sidebar.jsx'
import LinkedPosts from './LinkedPosts.astro'
import PortableTextComponent from './portabletext/PortableTextComponent.jsx'

export interface Props {
  post: any
}

const { post } = Astro.props

const h2Headings = Array.isArray(post?.block)
  ? post.block.flatMap((contentBlock: any) =>
      contentBlock?.content
        ? contentBlock.content
            .filter(
              (block: any) => block._type === 'block' && block.style === 'h2',
            )
            .map((block: any) => block.children[0]?.text)
        : [],
    )
  : []
---

<div class="w-full h-auto bg-black pt-20 lg:pt-8">
  {
    post?.block?.map((block: any) => (
      <div class="">
        {block?._type === 'headingBlock' && (
          <div>
            <div class="w-full flex justify-center flex-cols">
              <div class="md:w-3/4 lg:w-1/2 w-4/5">
                {block.heading && (
                  <h1 class="text-4xl text-gray-200 lg:text-5xl mb-4 w-auto lg:w-full scramble-title">
                    {block.heading}
                  </h1>
                )}
                {block.subheading && (
                  <p class="w-full text-lg text-gray-200 leading-6 mb-4 tracking-wide">
                    {block.subheading}
                  </p>
                )}
              </div>
            </div>
            <div class="w-full flex justify-center flex-cols">
              <div class="flex w-11/12 items-center border border-gray-600 mb-2 ">
                {block.team && block.team.image && (
                  <div class="flex items-center w-full h-8">
                    <Image
                      src={getSanityImageURL(block.team.image).url()}
                      alt="Author Image"
                      width={10}
                      height={10}
                      format="webp"
                      class="w-5 h-5 object-cover ml-2 rounded-full"
                    />
                    {block.team.name && (
                      <p class="ml-2 uppercase text-gray-600 font-bold font-mono text-xs">
                        By {block.team.name}
                      </p>
                    )}
                  </div>
                )}

                {block.tags && block.tags.length > 0 && (
                  <div class="flex flex-row ml-4 items-center">
                    {console.log('block.tags:', block.tags)}
                    {block.tags.map((tag: any, tagIndex: number) => (
                      <a class="text-xs h-6 flex font-semibold  bg-gray-600/60 items-center justify-center p-2 border border-gray-600 uppercase tracking-wide text-gray-200 mr-1">
                        {tag}
                      </a>
                    ))}
                  </div>
                )}
              </div>
            </div>
            {block.image && (
              <div class="w-full flex justify-center">
                {console.log('block.image:', block.image)}
                <Image
                  src={getSanityImageURL(block.image).url()}
                  alt={block.image.alt || 'Image Alt Text'}
                  width={1000}
                  height={1000}
                  format="webp"
                  class="w-full md:w-11/12 h-[325px] md:h-[500px] lg:h-[700px] object-cover mb-12 border border-gray-600"
                />
              </div>
            )}
          </div>
        )}
      </div>
    ))
  }
</div>

<div class="flex absolute p-8 h-full w-1/4">
  <div class="relative w-auto h-full">
    <SidebarWrapper h2Headings={h2Headings} />
  </div>
</div>
{
  post?.block?.map(
    (contentBlock: any) =>
      contentBlock?.content && (
        <PortableTextComponent content={contentBlock.content} template="blog" />
      ),
  )
}

{
  post?.team && (
    <div class="w-full flex justify-center">
      <div class="flex flex-col w-10/12 lg:w-1/2 mb-12  shadow-lg p-8 border border-gray-500/50 ">
        <div class="flex items-center space-x-4">
          <Image
            src={getSanityImageURL(post?.team.image).url()}
            alt="Team member image"
            width={10}
            height={10}
            format="webp"
            class="w-20 h-20 object-cover rounded-full"
          />
          <div>
            <p class="text-white uppercase font-bold text-lg">
              {post.team.name}
            </p>
            <p class="text-gray-400 uppercase text-sm">{post.team.role}</p>
          </div>
        </div>
        <p class="text-gray-300 mt-4">{post?.team.shortBio}</p>
      </div>
    </div>
  )
}

<LinkedPosts linkedContent={post?.linkedContent} />

<style>
  h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    animation: fadeIn 2s ease-out;
  }
  h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    animation: fadeIn 1s ease-out;
  }
  .rajhani {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script>
  import TextScrambler from './effects/TextScrambler'

  function scrambleText() {
    const titles = document.querySelectorAll('.scramble-title')
    const excerpts = document.querySelectorAll('.scramble-excerpt')

    titles.forEach((title) => {
      const scrambler = new TextScrambler(title)
      scrambler.setText(title.textContent)
    })

    excerpts.forEach((excerpt) => {
      const scrambler = new TextScrambler(excerpt)
      scrambler.setText(excerpt.textContent)
    })
  }

  document.addEventListener('DOMContentLoaded', scrambleText)
</script>
