---
import '@fontsource/rajdhani/400.css'
import '@fontsource/rajdhani/700.css'
import '@fontsource/orbitron'
import '@fontsource/noto-sans/400.css'
import '@fontsource/noto-sans/500.css'
import '@fontsource/noto-sans/700.css'
import { Image } from 'astro:assets'
import { getSanityImageURL } from '../utils/helpers.js'
import { SidebarWrapper } from './blog/Sidebar.jsx'
import LinkedPosts from './LinkedPosts.astro'
import PortableTextComponent from './portabletext/PortableTextComponent.jsx'

export interface Props {
  post: any
}

const { post } = Astro.props

const h2Headings = Array.isArray(post.content)
  ? post.content
      .filter((block: any) => block._type === 'block' && block.style === 'h2')
      .map((block: any) => block.children[0].text)
  : []
---

<div class="w-full h-auto bg-black text-white pt-20">
  <div class="w-full h-auto flex flex-col justify-center items-center">
    <div class="grid grid-cols-1 w-full md:w-3/4 p-4 lg:w-1/2 lg:p-0">
      <h1 class="text-5xl lg:text-6xl mb-4 w-auto lg:w-full scramble-title">
        {post.title}
      </h1>
      <p class="w-full text-xl text-gray-400 leading-7 mb-4 tracking-wide">
        {post.excerpt}
      </p>
    </div>
    {
      post.team && post.tags && (
        <div class="flex w-11/12 items-center border border-gray-600 mb-2 p-1">
          <div class="flex items-center w-full h-8 ">
            <Image
              src={getSanityImageURL(post?.team.image).url()}
              alt="this is an image"
              width={10}
              height={10}
              format="webp"
              class="w-6 h-6 object-cover  ml-1 rounded-full "
            />
            <p class="ml-2 uppercase text-gray-600 font-bold font-mono text-xs">
              By {post.team.name}
            </p>
          </div>
          <div class="flex flex-row  ml-4">
            {post.tags.map((tag: any) => (
              <p class="text-xs h-6 flex bg-white items-center justify-center p-2 border uppercase tracking-wide text-black mr-1">
                {tag}
              </p>
            ))}
          </div>
        </div>
      )
    }
  </div>

  <div class="text-white w-full">
    {
      post?.image && (
        <Image
          src={getSanityImageURL(post?.image).url()}
          alt="this is an image"
          width={1000}
          height={1000}
          format="webp"
          class="w-full h-[325px] lg:h-[700px] object-cover mb-12 "
        />
      )
    }
  </div>

  <div class="flex absolute p-8 h-full w-1/4">
    <div class="relative w-auto h-full">
      <SidebarWrapper h2Headings={h2Headings} />
    </div>
  </div>

  {
    post?.content && (
      <PortableTextComponent content={post?.content} template="blog" />
    )
  }
</div>

<LinkedPosts linkedContent={post?.linkedContent} />

<style>
  h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    animation: fadeIn 2s ease-out;
  }
  h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    animation: fadeIn 1s ease-out;
  }
  .rajhani {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script>
  import TextScrambler from './effects/TextScrambler'

  function scrambleText() {
    const titles = document.querySelectorAll('.scramble-title')
    const excerpts = document.querySelectorAll('.scramble-excerpt')

    titles.forEach((title) => {
      const scrambler = new TextScrambler(title)
      scrambler.setText(title.textContent)
    })

    excerpts.forEach((excerpt) => {
      const scrambler = new TextScrambler(excerpt)
      scrambler.setText(excerpt.textContent)
    })
  }

  document.addEventListener('DOMContentLoaded', scrambleText)
</script>
