---
import logo from "../images/white-logo.gif";
import grid from "../images/grid.png";
import tv from "../images/tv.png";
import podcast from "../images/podcast.png";
import creators from "../images/creators.png";
import convos from "../images/convos.png";
---

<div class="vertical-menu">
  <img class="vertical-menu-logo" src={logo} alt="logo" />

  <div class="vertical-menu-list">
    <a href="/">
      <img class="vertical-menu-img" src={grid} alt="grid" />
    </a>
    <a href="/">
      <img class="vertical-menu-img" src={tv} alt="grid" />
    </a>
    <a href="/">
      <img class="vertical-menu-img" src={podcast} alt="grid" />
    </a>
    <a href="/">
      <img class="vertical-menu-img" src={creators} alt="grid" />
    </a>
    <a href="/">
      <img class="vertical-menu-img" src={convos} alt="grid" />
    </a>
  </div>

  <style>
    .vertical-menu {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 120px;
      height: 100vh;

      margin-left: 1%;
    }
    .vertical-menu-logo {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 80px;
      height: 80px;
    }
    .vertical-menu-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    .vertical-menu-img {
      width: 40px;
      height: auto;
      margin-bottom: 30px;
    }

    @media (max-width: 1200px) {
      .vertical-menu {
        display: none;
      }
    }
  </style>
</div>
