---
import { Image } from 'astro:assets'
import OtherPosts from '../../components/blog/OtherPosts.astro'
import PortableTextComponent from '../../components/portabletext/PortableTextComponent'
import BlogLayout from '../../layouts/BlogLayout.astro'
import { getPostsByTeam, getTeam } from '../../lib/api.js'
import { getSanityImageURL } from '../../lib/helpers.js'



export async function getStaticPaths() {
  const Team = await getTeam()

  return Team.map((team: any) => ({
    params: { slug: team.slug.current },
    props: { team },
  }))
}

const { team = {} as any } = Astro.props

const teamPosts = await getPostsByTeam()
---

<BlogLayout
  title={team.title}
  description={team.excerpt}
  imageURL={getSanityImageURL(team.image).url()}
>
  <div
    class="min-h-screen bg-gray-200 flex flex-col items-center justify-center"
  >
  <spline-viewer class="w-full h-[87vh] bg-black" url={team.scene}></spline-viewer>

 
    <div class="w-full bg-black  justify-center">
      <PortableTextComponent content={team.bio} template="team" />
    </div>
    <div class="flex w-full p-8 items-center bg-black mb-8 justify-center space-y-2">
      <Image
        src={getSanityImageURL(team.image).url()}
        alt="Team member image"
        width={80}
        height={80}
        format="webp"
        class="w-12 h-12 lg:w-24 lg:h-24 object-cover rounded-full shadow-2xl"
      />
      <div class="flex ml-4 w-full justify-center flex-col">
        <h1
          class="text-xl mb-1 font-bold font-mono uppercase text-white leading-none tracking-wide"
        >
          {team.name}
        </h1>
        <p class="text-sm text-gray-300 uppercase font-mono leading-none tracking-widest">
          {team.role}
        </p>
      </div>
    </div>
  </div>
  <div
    class="w-full flex flex-col items-center justify-center pb-20 bg-gray-200"
  >
    <h3 class="font-mono text-2xl py-8">
      Posts By <span class="font-bold">{team.name}</span>
    </h3>
    <OtherPosts posts={teamPosts} />
  </div>
</BlogLayout>
