---
import Footer from '../components/global/Footer.astro'
import Navbar from '../components/global/Navbar.astro'

interface Props {
  title: string
  description: string
  imageURL: string
}

const { title, description, imageURL } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Open Graph Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageURL} />

    <!-- Twitter Card Tags -->
    <meta property="twitter:card" content="summary_large_image" />

    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={imageURL} />

    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  </head>
  <body class="bg-black">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
